/* CSS items sorted in Alphabetical order */
/* Divided into sections */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #575757;
}

footer {
  margin-top: 50px;
  background-color: #0b0d17;
  height: 256px;
  width: 100%;
}

footer p {
  display: block;
  color: white;
}

footer h3 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #5b5b5b;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: -0.02em;
  text-align: left;
}

h2 {
  text-transform: capitalize;
  font-size: 40px;
}

p {
  color: #828282;
  font-size: 18px;
}

/* Classes */

.align-center {
  text-align: center;
}

.card-holder {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.card-item {
  width: 33%;
  padding: 2%;
  margin: 2%;
  box-shadow: 0px 0px 20px 0px grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.card-item h2 {
  color: #18191f;
  font-weight: bolder;
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-item img {
  height: 256px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.card-item p {
  margin-top: 2px;
}

.color-blue {
  color: #13b6fc;
}

.color-orange-gradient {
  background-image: linear-gradient(to right, #fba24f, #fc8043);
  /* background: -webkit-linear-gradient(#fba24f, #ff1e1e); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-white {
  color: white;
}

.flexible-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.half-left {
  margin-left: 5%;
}

.half-right {
  margin-right: 5%;
}

.link-button {
  margin-top: 40px;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  background-image: linear-gradient(to left, #13b6ff, #a5d4ff);
  font-size: 18px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.position-middle {
  margin-left: 25%;
  margin-right: 25%;
}

.round-corner {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.stat-bar {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0px 0px 20px 0px grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.stat-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 2%;
}

.stat-bar-item h2 {
  color: #18191f;
  font-weight: bolder;
  margin-top: 2px;
  margin-bottom: 2px;
}

.stat-bar-item p {
  margin-top: 2px;
}

.topnav {
  display: flex;
  height: 60px;
  background-color: #0b0d17;
}

.topnav a {
  text-decoration: none;
  color: white;
}

.topnav img {
  height: 60px;
  width: 60px;
}

.topnav h3 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #5b5b5b;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}

.topnav-half {
  width: 50%;
  padding-left: 5%;
  display: flex;
  align-items: center;
}

.topnav-item {
  width: 25%;
  border-color: wheat;
  border-left: 2px solid;
  padding-left: 5px;
}

.width-half {
  width: 50%;
  padding: 2%;
}

.width-half img {
  max-height: 600px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ids */

#about-section {
  background-image: url(images/about-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#about-section p {
  color: #18191f;
  text-align: justify;
}

#top-banner {
  color: #828282;
  font-size: 20px;
}
