body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #575757;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 78px;
  letter-spacing: -0.02em;
  text-align: left;
}

h2 {
  text-transform: capitalize;
  font-size: 40px;
}

p {
  color: #828282;
  font-size: 20px;
}

/* Classes */

.color-orange {
  color: #13b6fc;
}

.flexible-container {
  display: flex;
}

.link-button {
  margin-top: 40px;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  background-image: linear-gradient(to left, #13b6ff, #a5d4ff);
  font-size: 18px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.width-half {
  width: 50%;
  padding: 2%;
}

.half-left {
  margin-left: 5%;
}

.half-right {
  margin-right: 5%;
}

.width-half img {
  width: 100%;
}

/* ids */

#about-section {
  background-image: url(images/Frame-57.jpg);
  background-repeat: no-repeat;
}
